#!/bin/bash
##############################################
# This file contains the test credentials
# and the address where the Qvain is running.
##############################################

export TEST_USERNAME=""
export TEST_PASSWORD=""
export TEST_ADDRESS="https://qvain.csc.local"
export TEST_FULLNAME=""
